body{
    max-width: 1131px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu{
    margin-top: -5px;
}
.logo{
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.search{
    display: flex;
    align-items: center;
  
}
.search a{
    margin-left: 8px;
    color: #718096;
    font-family: inter;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
}
ul li{
    display: inline;
    list-style: none;
}
ul li a{
    margin-right: 20px;
    color: #000;
    font-family: inter;
    font-size: 15px;
    font-style: 400;
    text-decoration: none;
    
}
.block{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 140px;
    margin-left: 125px;
}
.img{
    width: 1000px;

}
.title{
    font-family: inter;
    font-size: 45px;
    font-style: 700;
    font-weight: bold;
    width: 900px;
    margin-left: 120px;
    margin-top: 40px;
}
.text{
    margin-top: 20px;
    font-family: inter;
    font-size: 18px;
    font-style: 400;
    font-weight: normal;
    color: #718096;
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
}
.text a{
    font-family: inter;
    font-size: 18px;
    font-style: 700;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.block2{
    height: 1550px;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 245px;
}
.text2{
    margin-bottom: 30px;
    width: 750px;
    font-family: inter;
    font-size: 15px;
    font-style: 400;
    font-weight: normal;
    color: #718096;
}
.text3{
    width: 750px;
    font-family: inter;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    color: black;
    margin-bottom: 30px;
}
.text4{
    width: 750px;
    font-family: inter;
    font-size: 20px;
    font-style: 700;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}
.footer{
    margin-top: 40px;

}
.container7{
    margin-left: 100px;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.img1{
    margin-left: 15px;
}
.text8{
    font-family: Inter;
    font-style: 700;
    font-weight: normal;
    font-size: 15px;
}
.text8 a{
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-style: 700;
    font-weight: bold;
    font-size: 15px;
}
.text5{
    margin-bottom: 30px;
    width: 750px;
    font-family: inter;
    font-size: 15px;
    font-style: 400;
    font-weight: normal;
    color: #718096;
}
body.dark {
    color: #ccc;
    background-color: #222;
}

.dark a {
    color: #ddd;
}
.dark .text2{
    color: #ddd;
}
.dark .text3{
    color: white;
}
.dark .text4{
    color: white;
}
.dark .text{
    color: #ddd;
}
.dark .text5{
    color: white;
    font-style: bold;
    font-weight: 700;
}
.dark .block2 {
    border-color: #444;
}
.dark .button.theme3 {
    color: #fff;
}
.button {
    background-color: #3a4046;
    color: white;
    border: 0;
    padding: 1em;
    border-radius: 4px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    height: 33px;
   
}
.button:hover {
    cursor: pointer;
    background-color: #333;
}
.button.theme1 {
    background-color: #ddd;
    color: #000000;
}
.button.theme1:hover {
    background-color: #eee;
    color: #666;
}
.button.theme3 {
    background-color: transparent;
    border: 1px solid #666;
    color: #000;
}
.button.theme3:hover {
    background-color: #eee;
    color: #666;
}
.dark .button.theme3 {
    color: #fff;
}